@font-face {
    font-family: 'SF';
    src: url(../fonts/sf-pro.otf);
}
*{
    font-family: 'SF' !important;
}
body{
    /*overflow-x: hidden;*/
    margin: 0;
}
nav{
    z-index: 9999;
}
#footer{
    color: #fff;
    padding: 5em 3em;
    min-height: 35vh;
    background-image: url('../images/piano/SteinwayLogo.jpg');
    background-size: cover;
    background-attachment: fixed;
}
#pic1{
    padding-top: 2em; 
    background-color: rgba(255, 255, 255, 0.5);
    background-image: url('../images/piano/steinway-concept.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height: 95vh;
}
#content1{
    min-height: 40vh;
    height: auto;
}
#pic2{
    padding: 5em 3em;
    background-color: rgba(255, 255, 255, 0.5);
    background-image: url('../images/piano/steinway-piano2.jpg');
    background-size: cover;
    background-attachment: fixed;
    min-height: 75vh;
}
#content2{
    min-height: 40vh;
    height: auto;
}
.content{
    padding: 2em 3em;
}
#content1,#content2{
    padding: 5em 15em;    
}
li a {
    cursor: pointer;
    transition: 0.5s;
}
#products a{
    border: 1px solid darkgray !important;
    border-radius: 10px;
    padding: 0.4em 1em;
    margin: 0 0.5em;
}
#products a:hover{
    border: 1px solid darkgray !important;
    border-radius: 10px;
    background-color: darkgray;
    color: #fff;
    padding: 0.4em 1em;
    margin: 0 0.5em;
}

.promotext{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    /*text-shadow: 0px 0px 5px #000;*/
}

@media only screen 
and (min-width:0px)
and (max-width:990px){
    .navbar-nav{
        margin-top: 5px;
        padding: 1em;
        border-radius: 15px;
        background-color: rgba(255, 255, 255, 0.90);
    }
    #content1,#content2{
        padding: 5em 3em;    
    }
}