#nav{
    background-color: rgba(255, 255, 255, 0);
}
#footer{
    min-height: 35vh;
    background-image: url('../images/piano/SteinwayLogo.jpg');
    background-size: cover;
    background-attachment: fixed;
}
#pic1{
    background-color: rgba(255, 255, 255, 0.5);
    background-image: url('../images/piano/steinway-concept.jpg');
    background-size: cover;
    background-attachment: fixed;
    min-height: 90vh;
}
#content1{
    min-height: 40vh;
}
#pic2{
    background-color: rgba(255, 255, 255, 0.5);
    background-image: url('../images/piano/steinway-piano2.jpg');
    background-size: cover;
    background-attachment: fixed;
    min-height: 90vh;
}
#content2{
    min-height: 40vh;
}
.content{
    padding: 5em 10em;
}

li a {
    cursor: pointer;
    transition: 0.5s;
}
#products a{
    border: 1px solid darkgray !important;
    border-radius: 10px;
    padding: 0.4em 1em;
    margin: 0 0.5em;
}
#products a:hover{
    border: 1px solid darkgray !important;
    border-radius: 10px;
    background-color: darkgray;
    color: #fff;
    padding: 0.4em 1em;
    margin: 0 0.5em;
}

#pic1 #promotext{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}